* {
    margin:0; 
    padding:0;
    box-sizing: border-box
}
body{
    height: 100vh;
    background-color: rgb(255, 198, 208);
    font-family:monospace;
}

.playContainer{
    display: none;
    margin: 20vh;
    align-items: center;
    justify-content: center;
}

.scores, .optionsContainer{
    display:flex;
    text-align : center;
}
.scores{
    justify-content: space-between;
}


h2 {
    display: flex;
    justify-content: center;
}

.intro button, 
button {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    /* transition: all .1s ease; */
    width: 10rem;
    text-align: center;
    color: white;
    background: powderblue;
    text-shadow: 0 0 .5rem black;
}
 
.intro{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: 20vh;
    transform: opacity 1.0s ease
}

div.fadeOut {
    opacity: 0;
}

div.fadeIn{
    display: flex; 
    flex-direction: column;
    align-items: center;   
}
